<?xml version="1.0" encoding="utf-8"?>
<!--

  Copyright 2012-2013 Mohawk College of Applied Arts and Technology
  
  Licensed under the Apache License, Version 2.0 (the "License"); you 
  may not use this file except in compliance with the License. You may 
  obtain a copy of the License at 
  
  http://www.apache.org/licenses/LICENSE-2.0 
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
  License for the specific language governing permissions and limitations under 
  the License.
  
  User: fyfej
  Date: 5-12-2012


-->
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.cr.persistence.data" type="MARC.HI.EHRS.CR.Persistence.Data.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Persistence.Data, Version=0.8.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.cr" type="MARC.HI.EHRS.CR.Core.Configuration.ClientRegistryConfigurationSectionHandler, MARC.HI.EHRS.CR.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.svc.terminology" type="MARC.HI.EHRS.SVC.Terminology.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Terminology, Version=1.0.0.0" />
    <section name="marc.hi.ehrs.svc.messaging.persistence" type="MARC.HI.EHRS.SVC.Messaging.Persistence.Data.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Persistence.Data, Version=1.0.0.0" />
    <section name="marc.hi.ehrs.cr.messaging.admin" type="MARC.HI.EHRS.CR.Messaging.Admin.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Messaging.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.svc.messaging.multi" type="MARC.HI.EHRS.SVC.Messaging.Multi.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.qm.persistence.data" type="MARC.HI.EHRS.QM.Persistence.Data.Configuration.ConfigurationHandler, MARC.HI.EHRS.QM.Persistence.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.svc.messaging.everest" type="MARC.HI.EHRS.SVC.Messaging.Everest.Configuration.EverestConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Everest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.cr.messaging.hl7" type="MARC.HI.EHRS.CR.Messaging.HL7.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Messaging.HL7, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.hi.ehrs.cr.notification.pixpdq" type="MARC.HI.EHRS.CR.Notification.PixPdq.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Notification.PixPdq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="marc.everest.connectors.wcf" type="MARC.Everest.Connectors.WCF.Configuration.ConfigurationSection, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" />
    <section name="marc.hi.ehrs.svc.messaging.fhir" type="MARC.HI.EHRS.SVC.Messaging.FHIR.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.FHIR, Version=1.0.0.0"/>

  </configSections>
  <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress ="http://localhost:8888"
     />
    </defaultProxy>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description="PostgreSQL .NET Framework Data Provider" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="conn91776c1" connectionString="HOST=localhost;PORT=5432;PROTOCOL=3;DATABASE=cr;USER ID=postgres;PASSWORD=postgres;SSL=False;SSLMODE=Disable;TIMEOUT=15;SEARCHPATH=;POOLING=True;CONNECTIONLIFETIME=15;MINPOOLSIZE=1;MAXPOOLSIZE=20;SYNCNOTIFICATION=False;COMMANDTIMEOUT=240;ENLIST=False;PRELOADREADER=False;USEEXTENDEDTYPES=False;INTEGRATED SECURITY=False;COMPATIBLE=2.0.11.91" providerName="Npgsql" />
  </connectionStrings>
  <marc.hi.ehrs.cr.persistence.data>
    <validation minPersonNameMatch="1.0" personMustExist="false" allowDuplicates="False" />
    <nameMatching defaultMatchStr="Strong">
      <algorithm name="Soundex" />
      <algorithm name="Variant" />
      <algorithm name="Exact" />
    </nameMatching>
    <connectionManager connection="conn91776c1" />
  </marc.hi.ehrs.cr.persistence.data>
  <marc.hi.ehrs.svc.core>
    <serviceAssemblies>
      <add assembly="MARC.HI.EHRS.CR.Persistence.Data.dll" />
      <add assembly="MARC.HI.EHRS.SVC.Terminology.dll" />
      <add assembly="MARC.HI.EHRS.SVC.Messaging.Persistence.Data.dll" />
      <add assembly="MARC.HI.EHRS.CR.Messaging.Admin.dll" />
      <add assembly="MARC.HI.EHRS.QM.Persistence.Data.dll" />
      <add assembly="MARC.HI.EHRS.SVC.Messaging.Everest.dll" />
      <add assembly="MARC.HI.EHRS.CR.Messaging.HL7.dll" />
      <add assembly="MARC.HI.EHRS.CR.Notification.PixPdq.dll" />
      <add assembly="MARC.HI.EHRS.SVC.Messaging.FHIR.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Messaging.FHIR.dll"/>
      <add assembly="MARC.HI.EHRS.SVC.Localization.dll"/>
    </serviceAssemblies>
    <serviceProviders>
      <add type="MARC.HI.EHRS.CR.Persistence.Data.DatabasePersistenceService, MARC.HI.EHRS.CR.Persistence.Data, Version=0.8.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.CR.Core.ClientRegistryConfigurationProvider, MARC.HI.EHRS.CR.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.CR.Persistence.Data.DatabaseMergeService, MARC.HI.EHRS.CR.Persistence.Data, Version=0.8.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.SVC.Terminology.QuickAndDirty.QuickAndDirtyTerminologyResolver, MARC.HI.EHRS.SVC.Terminology, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.SVC.Messaging.Persistence.Data.AdoMessagePersister, MARC.HI.EHRS.SVC.Messaging.Persistence.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.SVC.Messaging.Multi.MultiMessageHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.QM.Persistence.Data.AdoQueryPersistenceService, MARC.HI.EHRS.QM.Persistence.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.CR.Notification.PixPdq.PixNotifier, MARC.HI.EHRS.CR.Notification.PixPdq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.SVC.Localization.XmlLocalizationService, MARC.HI.EHRS.SVC.Localization, Version=1.0.0.0"/>
    </serviceProviders>
    <system>
      <device id="1.3.6.1.4.1.33349.3.1.201309.2.2.0.7" name="SURFACE" />
    </system>
    <custodianship>
      <name>FHIR Connect-a-thon</name>
      <id domain="1.3.6.1.4.1.33349.3.1.201309.2.2" value="FHIRCAT" />
    </custodianship>
    <jurisdiction>
      <name>Mohawk College FHIR Connect-a-thon</name>
      <id domain="1.3.6.1.4.1.33349.3.1.201309" value="MOH_CAAT_FHIR_CAT" />
      <clientExport domain="OID OF ENTERPRISE CLIENT ID" />
      <providerExport domain="OID OF ENTERPRISE PROVIDER ID" />
      <sdlExport domain="OID OF ENTERPRISE LOCATION ID" />
      <defaultLanguageCode code="en" />
    </jurisdiction>
    <registeredDevices validateSolicitors="False" />
    <registeredOids>
      <add name="ICD10" desc="International Classification of Diseases version 10" oid="2.16.840.1.113883.6.3" ref="http://hl7.org/fhir/sid/icd-10">
        <attribute name="HL70396Name" value="I10" />
      </add>
      <add name="ICD10CA" desc="ICD10 Canadian Codes" oid="2.16.840.1.113883.11.19436" ref="urn:oid:2.16.840.1.113883.11.19436" />
      <add name="ICD10CM" desc="International Classification of Diseases version 10 Clinical Modification" oid="2.16.840.1.113883.6.90" ref="urn:oid:2.16.840.1.113883.6.90">
        <attribute name="HL70396Name" value="I10C" />
      </add>
      <add name="ICD9" desc="Internaional Classification of Diseases version 9" oid="2.16.840.1.113883.6.2" ref="http://hl7.org/fhir/sid/icd-9">
        <attribute name="HL70396Name" value="I9" />
      </add>
      <add name="ISO639" desc="Used internally to identify a locale" oid="2.16.840.1.113883.6.99" ref="urn:oid:2.16.840.1.113883.6.99">
        <attribute name="HL70396Name" value="ISO639" />
      </add>
      <add name="ISO639-1" desc="ISO Codes for Country portion of locale" oid="2.16.840.1.113883.6.99" ref="http://hl7.org/fhir/sid/iso-639-1">
        <attribute name="HL70396Name" value="ISO639-1" />
      </add>
      <add name="ISO639-2" desc="ISO Codes for Language portion of locale" oid="2.16.840.1.113883.6.100" ref="urn:oid:2.16.840.1.113883.6.100">
        <attribute name="HL70396Name" value="ISO639-2" />
      </add>
      <add name="ISO639-3" desc="ISO Codes for Language portion of locale" oid="2.16.840.1.113883.6.121" ref="http://hl7.org/fhir/sid/iso-639-3">
        <attribute name="HL70396Name" value="ISO639-3" />
      </add>
      <add name="ISO3166-1" oid="1.0.3166.1" ref="urn:oid:1.0.3166.1">
        <attribute name="HL70396Name" value="ISO3166-1" />
      </add>
      <add name="ISO3166-2" oid="1.0.3166.2" ref="urn:oid:1.0.3166.2">
        <attribute name="HL70396Name" value="ISO3166-2" />
      </add>
      <add name="LOINC" desc="Logical Observation Identifiers Names and Codes" oid="2.16.840.1.113883.6.1" ref="http://hl7.org/fhir/sid/loinc">
        <attribute name="HL70396Name" value="LN" />
      </add>
      <add name="REG_EVT" desc="Client Registry Registration Event Identifiers" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.9" ref="http://cr.marc-hi.ca/fhir/regevtid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="CR_CID" desc="Client Registry client internally assigned identifier" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.0" ref="http://cr.marc-hi.ca/fhir/pid">
        <attribute name="IsUniqueIdentifier" value="True" />
        <attribute name="AssigningAuthorityName" value="MOH_CAAT_CR" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="SNOMEDCT" desc="SNOMED Clinical Terms" oid="2.16.840.1.113883.6.96" ref="http://snomed.info/">
        <attribute name="HL70396Name" value="SNM" />
      </add>
      <add name="UCUM" desc="Uniform Codes for Units of Measure" oid="2.16.840.1.113883.6.8" ref="http://hl7.org/fhir/sid/ucum" />
      <add name="CR_CID_VRSN" desc="Client Registry client internally assigned version identifier" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.1" ref="http://cr.marc-hi.ca/fhir/pid/version">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="CR_PID" desc="Client Registry provider internally assigned identifiers" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.4" ref="http://cr.marc-hi.ca/fhir/pvid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="CR_LID" desc="Client Registry location internally assigned identifiers" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.2" ref="http://cr.marc-hi.ca/fhir/lid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="EVT_ID" desc="Client Registry event identifiers" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.8" ref="http://cr.marc-hi.ca/fhir/evtid">
        <attribute name="IsUniqueIdentifier" value="True" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="CR_REG_VRSN_ID" desc="Registration event version identifier" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.6" ref="http://cr.marc-hi.ca/fhir/regid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="CR_MSGID" desc="Message identifiers root when not in token" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.3" ref="http://cr.marc-hi.ca/fhir/msgid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="DEV_CRID" desc="Device identifier" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.7" ref="http://cr.marc-hi.ca/fhir/devid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="CR_PRID" desc="Personal Relationship identifiers" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.5" ref="http://cr.marc-hi.ca/fhir/prid">
        <attribute name="IsUniqueIdentifier" value="False" />
        <attribute name="OIDType" value="ISO" />
      </add>
      <add name="SUBSC_PID" desc="Subscription Provider IDs (Should point to CR_PID)" oid="0.0.0.0.8" ref="urn:oid:0.0.0.0.8" />
      <add name="SUBSC_RID" desc="Subscription Record IDs (Should point to REG_EVT)" oid="0.0.0.0.1" ref="urn:oid:0.0.0.0.1" />
      <add name="MOH_SURF" desc="Microsoft Surface Client" oid="1.3.6.1.4.1.33349.3.1.201309.2.2.0.100">
        <attribute name="IsUniqueIdentifier" value="True"/>
        <attribute name="AssigningAuthorityName" value="MOH_SURF"/>
        <attribute nmae="OIDType" value="ISO"/>
        <attribute name="AssigningDevFacility" value="MOH_SURF|MOH_CAAT"/>
      </add>
      <add name="AEGIS" desc="Aegis Client" oid="1.2.3.4.5.6.7.10298">
        <attribute name="IsUniqueIdentifier" value="True"/>
        <attribute name="AssigningAuthorityName" value="AEGIS"/>
        <attribute nmae="OIDType" value="ISO"/>
      </add>
    </registeredOids>
  </marc.hi.ehrs.svc.core>
  <marc.hi.ehrs.cr>
    <registration autoMerge="False" updateIfExists="True" minimumAutoMergeMatchCriteria="4">
      <mergeCriterion field="Names" />
      <mergeCriterion field="GenderCode" />
      <mergeCriterion field="BirthTime" />
      <mergeCriterion field="OtherIdentifiers" />
      <mergeCriterion field="Addresses" />
    </registration>
  </marc.hi.ehrs.cr>
  <marc.hi.ehrs.svc.terminology maxMemoryCacheSize="0">
    <qdcdb connection="conn91776c1" enableCtsFallback="False" />
  </marc.hi.ehrs.svc.terminology>
  <marc.hi.ehrs.svc.messaging.persistence>
    <connectionManager connection="conn91776c1" />
  </marc.hi.ehrs.svc.messaging.persistence>
  <marc.hi.ehrs.cr.messaging.admin>
    <listen wcfServiceName="adminSvc" />
  </marc.hi.ehrs.cr.messaging.admin>
  <marc.hi.ehrs.svc.messaging.multi>
    <handlers>
      <add type="MARC.HI.EHRS.CR.Messaging.Admin.ClientRegistryAdminInterface, MARC.HI.EHRS.CR.Messaging.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.SVC.Messaging.Everest.MessageHandler, MARC.HI.EHRS.SVC.Messaging.Everest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.CR.Messaging.HL7.HL7MessageHandler, MARC.HI.EHRS.CR.Messaging.HL7, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="MARC.HI.EHRS.SVC.Messaging.FHIR.FhirMessageHandler, MARC.HI.EHRS.SVC.Messaging.FHIR, Version=1.0.0.0"/>
    </handlers>
  </marc.hi.ehrs.svc.messaging.multi>
  <!-- FHIR -->
  <marc.hi.ehrs.svc.messaging.fhir>
    <service wcfServiceName="fhir" landingPage="C:\Program Files (x86)\Mohawk College\Client Registry\index.htm"/>
  </marc.hi.ehrs.svc.messaging.fhir>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>

    <services>
      <service name="adminSvc" behaviorConfiguration="adminSvc_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9999/admin" />
          </baseAddresses>
        </host>
        <endpoint address="http://127.0.0.1:9999/admin" contract="MARC.HI.EHRS.CR.Messaging.Admin.IClientRegistryAdminInterface" binding="wsHttpBinding" bindingConfiguration="adminSvc_Binding" />
      </service>
      <service name="4a824d7" behaviorConfiguration="4a824d7_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8080/PDQSupplier" />
          </baseAddresses>
        </host>
        <endpoint address="http://127.0.0.1:8080/PDQSupplier" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="wsHttpBinding" bindingConfiguration="4a824d7_Binding" />
      </service>
      <service name="81e8dc5" behaviorConfiguration="81e8dc5_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8080/PIXManager" />
          </baseAddresses>
        </host>
        <endpoint address="http://127.0.0.1:8080/PIXManager" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="wsHttpBinding" bindingConfiguration="81e8dc5_Binding" />
      </service>
      <service name="MARC.HI.EHRS.SVC.Messaging.FHIR.WcfCore.FhirServiceBehavior">
        <endpoint address="http://localhost:8080/fhir/" binding="webHttpBinding" contract="MARC.HI.EHRS.SVC.Messaging.FHIR.WcfCore.IFhirServiceContract" bindingConfiguration="fhirBinding" behaviorConfiguration="contentTypeBehavior" />
      </service>
      <service name="0947ca2" behaviorConfiguration="0947ca2_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8080/cr" />
          </baseAddresses>
        </host>
        <endpoint address="http://127.0.0.1:8080/cr" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="basicHttpBinding" bindingConfiguration="0947ca2_Binding" />
      </service>

    </services>
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="0947ca2_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="False" httpGetUrl="http://127.0.0.1:8080/cr" />
        </behavior>

        <behavior name="adminSvc_Behavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="False" httpGetUrl="http://127.0.0.1:9999/admin" />
        </behavior>
        <behavior name="4a824d7_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://127.0.0.1:8080/PDQSupplier" />
        </behavior>
        <behavior name="81e8dc5_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://127.0.0.1:8080/PIXManager" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="18b7bf_behavior" />
        <behavior name="contentTypeBehavior">
          <webHttp automaticFormatSelectionEnabled="false" />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="1000000" name="0947ca2_Binding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="fhirBinding">
          
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
      <binding name="adminSvc_Binding">
          <security mode="None" />
        </binding>
        <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="WeakWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" name="4a824d7_Binding">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" />
          </security>
        </binding>
        <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="WeakWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" name="81e8dc5_Binding">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="18b7bf_binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="WeakWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="18b7bf" address="http://xds.marc-hi.ca:1025/xdsservice/xdsregistry" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="wsHttpBinding" bindingConfiguration="18b7bf_binding" behaviorConfiguration="18b7bf_behavior" />
    </client>
  </system.serviceModel>
  <marc.hi.ehrs.qm.persistence.data>
    <connectionManager connection="conn91776c1" />
    <limit maxAge="1" />
  </marc.hi.ehrs.qm.persistence.data>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="E:\messages.svclog" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="C:\Program Files (x86)\Mohawk College\Client Registry\svc.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning" />
      </add>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="rollOver" />
        <add name="console"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <marc.hi.ehrs.svc.messaging.everest>
    <revision messageIdFormat="{0}" validate="false" name="pan-Canadian Client Registry Messages" formatter="MARC.Everest.Formatters.XML.ITS1.Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0, Culture=neutral, PublicKeyToken=a761391c991e4f91" aide="MARC.Everest.Formatters.XML.Datatypes.R1.CanadianDatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.2.0.0, Culture=neutral" assembly="MARC.Everest.RMIM.CA.R020402, Version=1.0.3977.20430, Culture=neutral, PublicKeyToken=null">
      <listen type="MARC.Everest.Connectors.WCF.WcfServerConnector, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" mode="ListenWaitRespond" connectionString="serviceName=0947ca2;" />
      <cacheTypes namespace="MARC.Everest.RMIM.CA.R020402.Interactions">
        <add name="PRPA_IN101101CA" />
        <add name="PRPA_IN101102CA" />
        <add name="PRPA_IN101103CA" />
        <add name="PRPA_IN101104CA" />
        <add name="PRPA_IN101105CA" />
        <add name="PRPA_IN101106CA" />
        <add name="PRPA_IN101201CA" />
        <add name="PRPA_IN101202CA" />
        <add name="PRPA_IN101203CA" />
        <add name="PRPA_IN101204CA" />
        <add name="PRPA_IN101205CA" />
        <add name="PRPA_IN101206CA" />
      </cacheTypes>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.CA.NotSupportedMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="*" />
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.CA.ContinueQueryMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="QUQI_IN000003CA" />
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.CA.ClientRegistryMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="PRPA_IN101101CA" disclosure="true" />
        <interactionId name="PRPA_IN101103CA" disclosure="true" />
        <interactionId name="PRPA_IN101105CA" disclosure="true" />
        <interactionId name="PRPA_IN101201CA" />
        <interactionId name="PRPA_IN101204CA" />
      </handler>
    </revision>

    <revision messageIdFormat="{1}^^^&amp;{0}&amp;ISO" validate="true" name="IHE PDQ Version 3" formatter="MARC.Everest.Formatters.XML.ITS1.Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0, Culture=neutral, PublicKeyToken=a761391c991e4f91" aide="MARC.Everest.Formatters.XML.Datatypes.R1.DatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.2.0.0, Culture=neutral" assembly="MARC.Everest.RMIM.UV.NE2008, Version=1.0.4432.17804, Culture=neutral, PublicKeyToken=null">
      <listen type="MARC.Everest.Connectors.WCF.WcfServerConnector, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" mode="ListenWaitRespond" connectionString="serviceName=4a824d7;" />
      <cacheTypes namespace="MARC.Everest.RMIM.UV.NE2008.Interactions">
        <add name="PRPA_IN201305UV02" />
        <add name="QUQI_IN000003UV01" />
      </cacheTypes>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.NotSupportedMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="*" />
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.PdqSupplier, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="PRPA_IN201305UV02" disclosure="true" />
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.QueryManager, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="QUQI_IN000003UV01" disclosure="true" />
      </handler>
    </revision>
    <revision messageIdFormat="{1}^^^&amp;{0}&amp;ISO" validate="true" name="IHE PIX Version 3" formatter="MARC.Everest.Formatters.XML.ITS1.Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0, Culture=neutral, PublicKeyToken=a761391c991e4f91" aide="MARC.Everest.Formatters.XML.Datatypes.R1.DatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.2.0.0, Culture=neutral" assembly="MARC.Everest.RMIM.UV.NE2008, Version=1.0.4432.17804, Culture=neutral, PublicKeyToken=null">
      <listen type="MARC.Everest.Connectors.WCF.WcfServerConnector, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" mode="ListenWaitRespond" connectionString="serviceName=81e8dc5;" />
      <cacheTypes namespace="MARC.Everest.RMIM.UV.NE2008.Interactions">
        <add name="PRPA_IN201301UV02" />
        <add name="PRPA_IN201302UV02" />
        <add name="PRPA_IN201304UV02" />
        <add name="PRPA_IN201309UV02" />
        <add name="PRPA_IN201310UV02" />
      </cacheTypes>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.NotSupportedMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="*" />
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.PixManager, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="PRPA_IN201301UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:MCCI_IN000002UV01</wsa:Action>
          </responseHeaders>
        </interactionId>
        <interactionId name="PRPA_IN201302UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:MCCI_IN000002UV01</wsa:Action>
          </responseHeaders>
        </interactionId>
        <interactionId name="PRPA_IN201304UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:MCCI_IN000002UV01</wsa:Action>
          </responseHeaders>
        </interactionId>
        <interactionId name="PRPA_IN201309UV02" disclosure="true">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:PRPA_IN201310UV02</wsa:Action>
          </responseHeaders>
        </interactionId>
      </handler>
    </revision>
  </marc.hi.ehrs.svc.messaging.everest>
  <marc.hi.ehrs.cr.messaging.hl7>
    <services>
      <service name="9a2336" timeout="00:00:30" address="llp://0.0.0.0:2100/">
        <handler xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.NotSupportedHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <message name="*" isQuery="false" />
        </handler>
        <handler xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.PdqHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <message name="QBP^Q22" isQuery="true" />
        </handler>
        <handler xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.PixHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <message name="QBP^Q23" isQuery="true" />
          <message name="ADT^A01" isQuery="false" />
          <message name="ADT^A04" isQuery="false" />
          <message name="ADT^A05" isQuery="false" />
          <message name="ADT^A08" isQuery="false" />
        </handler>
      </service>
    </services>
  </marc.hi.ehrs.cr.messaging.hl7>
  <marc.hi.ehrs.cr.notification.pixpdq>
    <targets>
      <add connectionString="endpointName=18b7bf" deviceId="1.2.3.4.5.6" name="18b7bf" myActor="PAT_IDENTITY_SRC">
        <notify domain="1.3.6.1.4.1.33349.3.1.201309.2.2.0.0">
          <action type="Any" />
        </notify>
      </add>
    </targets>
  </marc.hi.ehrs.cr.notification.pixpdq>
  <marc.everest.connectors.wcf
    formatter="MARC.Everest.Formatters.XML.ITS1.XmlIts1Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0"
    aide="MARC.Everest.Formatters.XML.Datatypes.R1.DatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.2.0.0"
    >
    <action type="MARC.Everest.RMIM.UV.NE2008.Interactions.PRPA_IN201301UV02" action="urn:hl7-org:v3:PRPA_IN201301UV02"/>
    <action type="MARC.Everest.RMIM.UV.NE2008.Interactions.PRPA_IN201302UV02" action="urn:hl7-org:v3:PRPA_IN201301UV02"/>
    <action type="MARC.Everest.RMIM.UV.NE2008.Interactions.PRPA_IN201304UV02" action="urn:hl7-org:v3:PRPA_IN201304UV02"/>
  </marc.everest.connectors.wcf>
</configuration>