<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.multi" type="MARC.HI.EHRS.SVC.Messaging.Multi.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.everest" type="MARC.HI.EHRS.SVC.Messaging.Everest.Configuration.EverestConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Everest, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.terminology" type="MARC.HI.EHRS.SVC.Terminology.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Terminology, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.persistence" type="MARC.HI.EHRS.SVC.Messaging.Persistence.Data.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Persistence.Data, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.cr.persistence.data" type="MARC.HI.EHRS.CR.Persistence.Data.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Persistence.Data, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.qm.persistence.data" type="MARC.HI.EHRS.QM.Persistence.Data.Configuration.ConfigurationHandler, MARC.HI.EHRS.QM.Persistence.Data, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.auditing.atna" type="MARC.HI.EHRS.SVC.Auditing.Atna.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Auditing.Atna, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.subscription" type="MARC.HI.EHRS.SVC.Subscription.Data.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Subscription.Data, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.cr.messaging.hl7" type="MARC.HI.EHRS.CR.Messaging.HL7.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Messaging.HL7, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="marc.hi.ehrs.cr.notification.pixpdq" type="MARC.HI.EHRS.CR.Notification.PixPdq.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Notification.PixPdq, Version=1.0.0.0, Culture=neutral"/>
    <section name="marc.everest.connectors.wcf" type="MARC.Everest.Connectors.WCF.Configuration.ConfigurationSection, MARC.Everest.Connectors.WCF, Version=1.1.0.0"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="PSQL" connectionString="server=master.db.shr.marc-hi.ca; database=cr; user id=cr; password=cr; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
    <add name="CLUSTER" connectionString="server=cluster.db.shr.marc-hi.ca; database=cr; user id=cr; password=cr; pooling=false; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
    <add name="QDCDB" connectionString="server=db.shr.marc-hi.ca; database=qdcdb; user id=qdcdb; password=qdcdb; pooling=true; " providerName="Npgsql"/>
    <add name="MSG" connectionString="server=db.shr.marc-hi.ca; database=mdb; user id=mdb; password=mdb; pooling=true; " providerName="Npgsql"/>
    <add name="QM" connectionString="server=db.shr.marc-hi.ca; database=qry; user id=qry; password=qry; pooling=true; " providerName="Npgsql"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      <!-- other provider entries elided -->
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <diagnostics>
      <messageLogging maxMessagesToLog="100" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service name="pcs" behaviorConfiguration="pcs_Behavior">
        <endpoint address="http://localhost:8080/cr" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="basicHttpBinding" bindingNamespace="http://tempuri.org/" bindingConfiguration="v3_Binding"/>
      </service>
      <service name="pix" behaviorConfiguration="pix_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/pixmanager"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/pixmanager" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="wsHttpBinding" bindingNamespace="http://tempuri.org/" bindingConfiguration="ihe_Binding"/>
      </service>
      <service name="pdq" behaviorConfiguration="pdq_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/pdqsupplier"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/pdqsupplier" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="wsHttpBinding" bindingNamespace="http://tempuri.org/" bindingConfiguration="ihe_Binding"/>
      </service>
    </services>
    <client>
      <endpoint name="marc_xds" address="http://xds.marc-hi.ca:1025/XDSService/XDSRegistry" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" binding="wsHttpBinding" bindingConfiguration="ihe_Binding"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="pcs_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" httpHelpPageUrl="http://localhost:8080/cr"/>
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8080/cr"/>
        </behavior>
        <behavior name="pix_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" httpHelpPageUrl="http://localhost:8080/pixmanager"/>
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8080/pixmanager"/>
        </behavior>
        <behavior name="pdq_Behavior">
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" httpHelpPageUrl="http://localhost:8080/pdqsupplier"/>
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8080/pdqsupplier"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="v3_Binding" maxReceivedMessageSize="1000000">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ihe_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="WeakWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"   switchValue="Information, ActivityTracing"    propagateActivity="true">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>-->
    <sharedListeners>
      <add name="fileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="cr.log"/>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <!--<add name="xmlLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="shr.log.svclog" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information, Warning, Error"/>
      </add>-->
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="fileLog"/>
        <add name="console"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!-- ATNA Auditing -->
  <marc.hi.ehrs.svc.auditing.atna messagePublisher="MARC.HI.EHRS.SVC.Auditing.Atna.SyslogPublisher, MARC.HI.EHRS.SVC.Auditing.Atna, Version=1.0.0.0">
    <destination endpoint="142.222.45.74:514"/>
  </marc.hi.ehrs.svc.auditing.atna>
  <!-- Service Core Configuration -->
  <marc.hi.ehrs.svc.core>
    <system>
      <device id="1.3.6.1.4.1.33349.3.1.1.2" name="CR"/>
    </system>
    <!-- Custodial information for records -->
    <custodianship>
      <name>MARC-HI Client Registry</name>
      <!-- Identifies the domain under which identifiers are reported from this registry -->
      <id domain="1.3.6.1.4.1.33349.3.1.2.2.0" value="CR1"/>
    </custodianship>
    <!-- Realm that the persistence engine is running within -->
    <jurisdiction>
      <name>MARC-HI</name>
      <id domain="1.3.6.1.4.1.33349.3.1" value="HI"/>
      <!-- The next three lines identify the realm (roots) that should be
      returned in messages when communicating with external entities-->
      <clientExport domain="1.3.6.1.4.1.33349.3.1.2.1.0"/>
      <providerExport domain="1.3.6.1.4.1.33349.3.1.2.1.1"/>
      <sdlExport domain="1.3.6.1.4.1.33349.3.1.2.1.2"/>
      <defaultLanguageCode code="en"/>
    </jurisdiction>
    <registeredDevices validateSolicitors="true">
      <add domain="1.2.840.114350.1.13.99998.8734"/>
      <add domain="1.3.6.1.4.1.33349.3.1.1.20.4" value="MARC-W1-1"/>
      <add domain="1.3.6.1.4.1.33349.3.1.1.20.4" value="GIBSON"/>
      <add value="MARC-W1-1"/>
      <!-- Solicitor for test harness-->
      <add domain="1.2.3.4.5" value="101"/>
    </registeredDevices>
    <registeredOids>
      <add name="ICD10" ref="http://hl7.org/fhir/sid/icd-10" oid="2.16.840.1.113883.6.3" desc="International Classification of Diseases version 10"/>
      <add name="ICD10CA" oid="2.16.840.1.113883.11.19436" desc="ICD10 Canadian Codes"/>
      <add name="ICD10CM" oid="2.16.840.1.113883.6.90" desc="International Classification of Diseases version 10 Clinical Modification"/>
      <add name="ICD9" ref="http://hl7.org/fhir/sid/icd-9" oid="2.16.840.1.113883.6.2" desc="Internaional Classification of Diseases version 9"/>
      <add name="ISO639" oid="2.16.840.1.113883.6.99" desc="Used internally to identify a locale"/>
      <add name="ISO639-1" ref="http://hl7.org/fhir/sid/iso-639-1" oid="2.16.840.1.113883.6.99" desc="ISO Codes for Country portion of locale"/>
      <add name="ISO639-2" oid="2.16.840.1.113883.6.100" desc="ISO Codes for Language portion of locale"/>
      <add name="ISO639-3" ref="http://hl7.org/fhir/sid/iso-639-3" oid="2.16.840.1.113883.6.121" desc="ISO Codes for Language portion of locale"/>
      <add name="ISO3166-1" oid="1.0.3166.1"/>
      <add name="ISO3166-2" oid="1.0.3166.2"/>
      <add name="LOINC" ref="http://hl7.org/fhir/sid/loinc" oid="2.16.840.1.113883.6.1" desc="Logical Observation Identifiers Names and Codes"/>
      <add name="MARC_ECID" oid="1.3.6.1.4.1.33349.3.1.2.1.0" desc="Enterprise Client Identifier for MARC-HI EHRSv3">
        <attribute name="AssigningAuthorityName" value="MOH_CAAT_ENT"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="MARC_EPID" oid="1.3.6.1.4.1.33349.3.1.2.1.1" desc="Enterprise Provider Identifier for MARC-HI EHRSv3"/>
      <add name="MB_PHN" oid="2.16.840.1.113883.4.12" desc="Manitoba PHN">
        <attribute name="AssigningAuthorityName" value="ca-mbPHN"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="PE_PHN" oid="2.16.840.1.113883.4.13" desc="PEI PHN"/>
      <add name="ON_PHN" oid="2.16.840.1.113883.4.59" desc="ca-onPHN">
        <attribute name="AssigningAuthorityName" value="ca-onPHN"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="REG_EVT" oid="1.3.6.1.4.1.33349.3.1.2.2.0.4" desc="Client Registry Registration Event Identifiers"/>
      <add name="CR_CID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.0" desc="Client Registry client internally assigned identifier">
        <attribute name="AssigningAuthorityName" value="MOH_CAAT_CR"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="CR_CID_VRSN" oid="1.3.6.1.4.1.33349.3.1.2.2.0.2" desc="Client Registry client internally assigned version identifier"/>
      <add name="CR_PID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.1" desc="Client Registry provider internally assigned identifiers"/>
      <add name="CR_LID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.3" desc="Client Registry location internally assigned identifiers"/>
      <add name="EVT_ID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.6" desc="Client Registry event identifiers"/>
      <add name="CR_REG_VRSN_ID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.5" desc="Registration event version identifier"/>
      <add name="CR_MSGID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.8" desc="Message identifiers root when not in token"/>
      <add name="DEV_CRID" oid="1.3.6.1.4.1.33349.3.1.2.2.0.7" desc="Device identifier"/>
      <add name="SNOMEDCT" ref="http://snomed.info" oid="2.16.840.1.113883.6.96" desc="SNOMED Clinical Terms"/>
      <add name="UCUM" ref="http://hl7.org/fhir/sid/ucum" oid="2.16.840.1.113883.6.8" desc="Uniform Codes for Units of Measure"/>
      <add name="ELB_HIN" oid="1.3.6.1.4.1.33349.3.1.3.12" desc="Government of Elbonia Health Insurance Number">
        <attribute name="AssigningAuthorityName" value="GOVT_ELB_HIN"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="GHHS_ID" oid="1.2.840.114350.1.13.99998.8734" desc="Good Health Hospital Assigned ID">
        <attribute name="AssigningAuthorityName" value="GHHS"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="MESA_TEST_DOMAIN" oid="1.2.3.4.5.1000" desc="MESA Test Harness Domain">
        <attribute name="AssigningAuthorityName" value="MESA"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="MESA_TEST_DOMAIN2" oid="1.2.3.4.5.2000" desc="MESA Test Harness Domain 2">
        <attribute name="AssigningAuthorityName" value="MESA2"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
      <add name="MS_SURF_IDT_MOH_CAAT" oid="1.3.6.1.4.1.33349.3.1.2.1.0.1" desc="Microsoft Surface Identity Tags">
        <attribute name="AssigningAuthorityName" value="MOH_CAAT_MARC_HI"/>
        <attribute name="OIDType" value="ISO"/>
      </add>
    </registeredOids>
    <serviceAssemblies>
      <add assembly="MARC.HI.EHRS.SVC.Core.dll"/>
      <add assembly="MARC.HI.EHRS.SVC.Messaging.Persistence.Data.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Core.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Persistence.Data.dll"/>
      <add assembly="MARC.HI.EHRS.SVC.Messaging.Everest.dll"/>
      <add assembly="MARC.HI.EHRS.SVC.Messaging.Multi.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Messaging.dll"/>
      <add assembly="MARC.HI.EHRS.SVC.Terminology.dll"/>
      <add assembly="MARC.HI.EHRS.SVC.Auditing.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Persistence.Data.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Messaging.HL7.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Notification.PixPdq.dll"/>
      <add assembly="MARC.HI.EHRS.CR.Messaging.PIXPDQv2.dll"/>
      <!--<add assembly="MARC.HI.EHRS.SVC.Subscription.Data.dll" />-->
      <add assembly=".\MARC.HI.EHRS.SVC.Auditing.Atna.dll"/>
      <add assembly=".\MARC.HI.EHRS.SVC.Localization.dll"/>
      <!--<add assembly=".\MARC.Everest.dll" />
      <add assembly=".\MARC.Everest.Formatters.XML.ITS1.dll" />
      <add assembly=".\MARC.Everest.Formatters.XML.Datatypes.R1.dll" />
      <add assembly=".\MARC.Everest.Connectors.WCF.dll" />
      <add assembly=".\MARC.Everest.Connectors.File.dll" />-->
      <add assembly="MARC.HI.EHRS.QM.Core.dll"/>
      <add assembly="MARC.HI.EHRS.QM.Persistence.Data.dll"/>
    </serviceAssemblies>
    <serviceProviders>
      <!--<add type="MARC.HI.EHRS.SVC.Terminology.CTS12.CtsTerminologyResolver, MARC.HI.EHRS.SVC.Terminology, Version=1.0.0.0" />-->
      <!--<add type="MARC.HI.EHRS.SVC.Subscription.Data.AdoSubscriptionManagementService, MARC.HI.EHRS.SVC.Subscription.Data, Version=1.0.0.0" />-->
      <add type="MARC.HI.EHRS.SVC.Localization.XmlLocalizationService, MARC.HI.EHRS.SVC.Localization, Version=1.0.0.0"/>
      <!--<add type="MARC.HI.EHRS.SHR.Policy.Basic.BasicPolicyEnforcementService, MARC.HI.EHRS.SHR.Policy.Basic, Version=1.0.0.0" />-->
      <add type="MARC.HI.EHRS.SVC.Terminology.QuickAndDirty.QuickAndDirtyTerminologyResolver, MARC.HI.EHRS.SVC.Terminology, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Messaging.Multi.MultiMessageHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=1.0.0.0"/>
      <!--<add type="MARC.HI.EHRS.SVC.Messaging.Persistence.Data.AdoMessagePersister, MARC.HI.EHRS.SVC.Messaging.Persistence.Data, Version=1.0.0.0"/>-->
      <add type="MARC.HI.EHRS.SVC.Auditing.Atna.AtnaAuditService, MARC.HI.EHRS.SVC.Auditing.Atna, Version=1.0.0.0"/>
      <!--<add type="MARC.HI.EHRS.SVC.Auditing.DummyAuditService, MARC.HI.EHRS.SVC.Auditing, Version=1.0.0.0" />-->
      <add type="MARC.HI.EHRS.CR.Persistence.Data.DatabasePersistenceService, MARC.HI.EHRS.CR.Persistence.Data, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.CR.Persistence.Data.DatabaseHealthcareWorkerIdentityService, MARC.HI.EHRS.CR.Persistence.Data, Version=1.0.0.0"/>
      <!--<add type="MARC.HI.EHRS.SHR.Persistence.Data.DummyDocumentRegistrationService, MARC.HI.EHRS.SHR.Persistence.Data, Version=1.0.0.0" />-->
      <add type="MARC.HI.EHRS.QM.Persistence.Data.AdoQueryPersistenceService, MARC.HI.EHRS.QM.Persistence.Data, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.CR.Notification.PixPdq.PixNotifier, MARC.HI.EHRS.CR.Notification.PixPdq, Version=1.0.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <!-- Messaging Persistence -->
  <marc.hi.ehrs.svc.messaging.persistence>
    <connectionManager connection="MSG"/>
  </marc.hi.ehrs.svc.messaging.persistence>
  <!-- Query Persistence -->
  <marc.hi.ehrs.qm.persistence.data>
    <connectionManager connection="QM"/>
    <limit maxAge="1"/>
  </marc.hi.ehrs.qm.persistence.data>
  <marc.hi.ehrs.cr.messaging.hl7>
    <services>
      <!--<service name="TCP Listener" address="tcp://0.0.0.0:1027">
        <handler type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.PixHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0">
          <message name="QBP^Q23"/>
        </handler>
        <handler type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.PdqHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0">
          <message name="QBP^Q22"/>
        </handler>
        <handler type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.NotSupportedHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0">
          <message name="*"/>
        </handler>
      </service>-->
      <service name="LLP Listener" address="llp://0.0.0.0:2100">
        <handler type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.PixHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0">
          <message name="QBP^Q23"/>
        </handler>
        <handler type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.PdqHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0">
          <message name="QBP^Q22"/>
        </handler>
        <handler type="MARC.HI.EHRS.CR.Messaging.PixPdqv2.NotSupportedHandler, MARC.HI.EHRS.CR.Messaging.PixPdqv2, Version=1.0.0.0">
          <message name="*"/>
        </handler>
      </service>
    </services>
  </marc.hi.ehrs.cr.messaging.hl7>
  <!-- Shared Health Record Persistence -->
  <marc.hi.ehrs.cr.persistence.data>
    <validation allowDuplicates="false" personMustExist="false" minPersonNameMatch="1.0"/>
    <nameMatching defaultMatchStr="Strong">
      <algorithm name="Soundex"/>
      <algorithm name="Variant"/>
      <algorithm name="Exact"/>
    </nameMatching>
    <connectionManager connection="PSQL" readOnlyConnection="CLUSTER">
    </connectionManager>
  </marc.hi.ehrs.cr.persistence.data>
  <marc.hi.ehrs.svc.terminology maxMemoryCacheSize="10000">
    <cts messageRuntimeUrl="http://hdd.marc-hi.ca/ctsservice/messageruntime.asmx" proxyAddress="http://localhost:8888">
      <fillInDetails codeSystem="2.16.840.1.113883.6.96"/>
      <fillInDetails codeSystem="2.16.840.1.113883.6.1"/>
    </cts>
    <qdcdb connection="QDCDB" enableCtsFallback="true"/>
  </marc.hi.ehrs.svc.terminology>
  <!-- Multi Messaging Component Configuration -->
  <marc.hi.ehrs.svc.messaging.multi>
    <handlers>
      <add type="MARC.HI.EHRS.SVC.Messaging.Everest.MessageHandler, MARC.HI.EHRS.SVC.Messaging.Everest, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.CR.Messaging.HL7.HL7MessageHandler, MARC.HI.EHRS.CR.Messaging.HL7, Version=1.0.0.0"/>
    </handlers>
  </marc.hi.ehrs.svc.messaging.multi>
  <!-- Everest Messaging Component Configuration -->
  <marc.hi.ehrs.svc.messaging.everest>
    <revision messageIdFormat="{0}" validate="true" name="HL7v3 CA R02.04.02" formatter="MARC.Everest.Formatters.XML.ITS1.Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0, Culture=neutral, PublicKeyToken=a761391c991e4f91" aide="MARC.Everest.Formatters.XML.Datatypes.R1.CanadianDatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.1.0.0, Culture=neutral" assembly="MARC.Everest.RMIM.CA.R020402, Version=1.0.3977.20430, Culture=neutral, PublicKeyToken=null">
      <listen connectionString="servicename=pcs" type="MARC.Everest.Connectors.WCF.WcfServerConnector, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" mode="ListenWaitRespond"/>
      <cacheTypes namespace="MARC.Everest.RMIM.CA.R020402.Interactions">
        <add name="PRPA_IN101101CA"/>
        <add name="PRPA_IN101102CA"/>
        <add name="PRPA_IN101103CA"/>
        <add name="PRPA_IN101104CA"/>
        <add name="PRPA_IN101105CA"/>
        <add name="PRPA_IN101106CA"/>
        <add name="PRPA_IN101201CA"/>
        <add name="PRPA_IN101202CA"/>
        <add name="PRPA_IN101203CA"/>
        <add name="PRPA_IN101204CA"/>
        <add name="PRPA_IN101205CA"/>
        <add name="PRPA_IN101206CA"/>
      </cacheTypes>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.CA.NotSupportedMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="*"/>
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.CA.ContinueQueryMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="QUQI_IN000003CA"/>
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.CA.ClientRegistryMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="PRPA_IN101101CA"/>
        <interactionId name="PRPA_IN101103CA"/>
        <interactionId name="PRPA_IN101105CA"/>
        <interactionId name="PRPA_IN101201CA"/>
        <interactionId name="PRPA_IN101204CA"/>
      </handler>
    </revision>
    <revision messageIdFormat="{1}^^^&amp;{0}&amp;ISO" validate="true" name="HL7v3 UV NE2008 PIX Manager" formatter="MARC.Everest.Formatters.XML.ITS1.Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0, Culture=neutral, PublicKeyToken=a761391c991e4f91" aide="MARC.Everest.Formatters.XML.Datatypes.R1.DatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.1.0.0, Culture=neutral" assembly="MARC.Everest.RMIM.UV.NE2008, Version=1.0.4432.17804, Culture=neutral, PublicKeyToken=null">
      <listen connectionString="servicename=pix" type="MARC.Everest.Connectors.WCF.WcfServerConnector, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" mode="ListenWaitRespond"/>
      <cacheTypes namespace="MARC.Everest.RMIM.UV.NE2008.Interactions">
        <add name="PRPA_IN201301UV02"/>
        <add name="PRPA_IN201302UV02"/>
        <add name="PRPA_IN201304UV02"/>
        <add name="PRPA_IN201309UV02"/>
        <add name="PRPA_IN201310UV02"/>
      </cacheTypes>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.NotSupportedMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="*"/>
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.PixManager, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="PRPA_IN201301UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:MCCI_IN000002UV01</wsa:Action>
          </responseHeaders>
        </interactionId>
        <interactionId name="PRPA_IN201302UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:MCCI_IN000002UV01</wsa:Action>
          </responseHeaders>
        </interactionId>
        <interactionId name="PRPA_IN201304UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:MCCI_IN000002UV01</wsa:Action>
          </responseHeaders>
        </interactionId>
        <interactionId name="PRPA_IN201309UV02">
          <responseHeaders>
            <wsa:Action xmlns:wsa="http://www.w3.org/2005/08/addressing">urn:hl7-org:v3:PRPA_IN201310UV02</wsa:Action>
          </responseHeaders>
        </interactionId>
      </handler>
    </revision>
    <revision messageIdFormat="{1}^^^&amp;{0}&amp;ISO" validate="true" name="HL7v3 UV NE2008 PDQ Supplier" formatter="MARC.Everest.Formatters.XML.ITS1.Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0, Culture=neutral, PublicKeyToken=a761391c991e4f91" aide="MARC.Everest.Formatters.XML.Datatypes.R1.DatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.1.0.0, Culture=neutral" assembly="MARC.Everest.RMIM.UV.NE2008, Version=1.0.4432.17804, Culture=neutral, PublicKeyToken=null">
      <listen connectionString="servicename=pdq" type="MARC.Everest.Connectors.WCF.WcfServerConnector, MARC.Everest.Connectors.WCF, Version=1.1.0.0, Culture=neutral, PublicKeyToken=99dcf2dae6474efd" mode="ListenWaitRespond"/>
      <cacheTypes namespace="MARC.Everest.RMIM.UV.NE2008.Interactions">
        <add name="PRPA_IN201305UV02"/>
        <add name="QUQI_IN000003UV01"/>
      </cacheTypes>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.NotSupportedMessageReceiver, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="*"/>
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.PdqSupplier, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="PRPA_IN201305UV02"/>
      </handler>
      <handler type="MARC.HI.EHRS.CR.Messaging.Everest.MessageReceiver.UV.QueryManager, MARC.HI.EHRS.CR.Messaging.Everest, Version=1.0.0.0">
        <interactionId name="QUQI_IN000003UV01"/>
      </handler>
    </revision>
  </marc.hi.ehrs.svc.messaging.everest>
  <marc.hi.ehrs.cr.notification.pixpdq>
    <targets>
      <add connectionString="endpointname=marc_xds" deviceId="1.2.3.4.5.6" name="MARC-HI XDS Registry" myActor="PAT_IDENTITY_SRC">
        <!-- NB: this is for testing only, change this to match the affinity domain of the XDS repository -->
        <notify domain="1.2.840.114350.1.13.99998.8734">
          <action type="Any"/>
        </notify>
      </add>
    </targets>
  </marc.hi.ehrs.cr.notification.pixpdq>
  <marc.everest.connectors.wcf
    formatter="MARC.Everest.Formatters.XML.ITS1.XmlIts1Formatter, MARC.Everest.Formatters.XML.ITS1, Version=1.2.0.0"
    aide="MARC.Everest.Formatters.XML.Datatypes.R1.DatatypeFormatter, MARC.Everest.Formatters.XML.Datatypes.R1, Version=1.1.0.0"
    >
    <action type="MARC.Everest.RMIM.UV.NE2008.Interactions.PRPA_IN201301UV02" action="urn:hl7-org:v3:PRPA_IN201301UV02"/>
    <action type="MARC.Everest.RMIM.UV.NE2008.Interactions.PRPA_IN201302UV02" action="urn:hl7-org:v3:PRPA_IN201301UV02"/>
    <action type="MARC.Everest.RMIM.UV.NE2008.Interactions.PRPA_IN201304UV02" action="urn:hl7-org:v3:PRPA_IN201304UV02"/>
  </marc.everest.connectors.wcf>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
