<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <clear/>
    <add name="PSQL" connectionString="server=master.db.shr.marc-hi.ca; database=cr; user id=cr; password=cr; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
    <add name="CLUSTER" connectionString="server=cluster.db.shr.marc-hi.ca; database=cr; user id=cr; password=cr; pooling=false; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
    <add name="QDCDB" connectionString="server=db.shr.marc-hi.ca; database=qdcdb; user id=qdcdb; password=qdcdb; pooling=true; " providerName="Npgsql"/>
    <add name="MSG" connectionString="server=db.shr.marc-hi.ca; database=mdb; user id=mdb; password=mdb; pooling=true; " providerName="Npgsql"/>
    <add name="QM" connectionString="server=db.shr.marc-hi.ca; database=qry; user id=qry; password=qry; pooling=true; " providerName="Npgsql"/>
    <add name="SYN" connectionString="server=db.shr.marc-hi.ca; database=syn; user id=syn; password=syn; pooling=true; " providerName="Npgsql" />

  </connectionStrings>
