<?xml version="1.0" encoding="utf-8" ?>
<marc.hi.ehrs.cr.notification.pixpdq>
  <targets>
    <add connectionString="endpointname=marc_xds" deviceId="1.2.3.4.5.6" name="MARC-HI XDS Registry" myActor="PAT_IDENTITY_SRC">
      <!-- NB: this is for testing only, change this to match the affinity domain of the XDS repository -->
      <notify domain="1.2.840.114350.1.13.99998.8734">
        <action type="Any"/>
      </notify>
    </add>
  </targets>
</marc.hi.ehrs.cr.notification.pixpdq>