@model ClientRegistryAdmin.Models.RegistryStatusModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section AdminView
{
    @if (Model.ClientRegistryOnline)
    {
        var oidGrid = new WebGrid(Model.Oids, canPage: true, rowsPerPage: 30, defaultSort: "name", selectionFieldName: "oid");
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">OIDs</h3>
            </div>
            <div class="panel-body">
                @oidGrid.GetHtml(
                columns: oidGrid.Columns(
             oidGrid.Column("key", "Key", style: "width:20%"),
              oidGrid.Column("oid", "OID", style: "width:20%",
                 format: item => Html.ActionLink((String)item.oid.ToString(), "View", "Oid", new { id = item.oid }, new object())
                 ),
              oidGrid.Column("Text", "Description", style: "width:40%")
                 ), htmlAttributes: new { @class = "table-striped", style = "width:100%" })
            </div>
        </div>

    }
}