<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.cr.persistence.data" type="MARC.HI.EHRS.CR.Persistence.Data.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.CR.Persistence.Data, Version=1.0.0.0"/>
  </configSections>
  <connectionStrings>
    <add name="PSQL" connectionString="server=localhost; database=test_cr; user id=postgres; password=postgres; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      <!-- other provider entries elided -->
    </DbProviderFactories>
  </system.data>

  <marc.hi.ehrs.cr.persistence.data>
    <validation allowDuplicates="false" personMustExist="false" minPersonNameMatch="1.0"/>
    <nameMatching defaultMatchStr="Strong">
      <algorithm name="Soundex"/>
      <algorithm name="Variant"/>
      <algorithm name="Exact"/>
    </nameMatching>
    <connectionManager connection="PSQL" readOnlyConnection="CLUSTER">
    </connectionManager>
  </marc.hi.ehrs.cr.persistence.data>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
