@model ClientRegistryAdmin.Models.RegistryStatusModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Client Registry Status</h3>
    </div>
    <div class="panel-body">
        @if (Model.ClientRegistryOnline)
        {
            <span class="label-success">Client Registry Available</span>
        }
        else
        {
            <span class="label-danger">Client Registry Offline</span>
        }
        
    </div>
</div>

@if (Model.ClientRegistryOnline)
{
    var serviceGrid = new WebGrid(Model.ServiceStats, canPage : true, rowsPerPage:30);
    var logGrid = new WebGrid(Model.ClientRegistryLogs, canPage: true, rowsPerPage: 30, defaultSort: "id", selectionFieldName:"Identification");
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Services</h3>
        </div>
        <div class="panel-body">
            @serviceGrid.GetHtml(
            columns: serviceGrid.Columns(
            serviceGrid.Column("contract", "Service Definition", style: "width:30%"),
             serviceGrid.Column("class", "Implemented By", style: "width:50%"),
             serviceGrid.Column("version", "Version", style: "width:20%")
             ), htmlAttributes: new { @class = "table-striped", style = "width:100%" })
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Log Files</h3>
        </div>
        <div class="panel-body">
            @logGrid.GetHtml(
         columns: logGrid.Columns(
         logGrid.Column("lastModified", "Last Write Date", style: "width:15%"),
         logGrid.Column("id", "Identification", style: "width:70%", format:@<text>@Html.ActionLink((string)item.Id,
            "Details", "Log", new {id=item.id.Replace("_","-")}, null)</text>),
          logGrid.Column("size", "Size (KB)", style:"width:15%",format:o=>(String.Format("{0:#,###}", o.size/ 1024)))
             ), htmlAttributes: new { @class = "table-striped", style = "width:100%" })
        </div>
    </div>
}